* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}


body {

    background: #071522;
    color: white;
    min-height: 100vh;

}



.occ-header {

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    background: #0c2238;
    border-bottom: 2px solid #00c8ff;

}



.title-section h1 {

    font-size: 30px;
    color: #00e5ff;

}



.title-section p {

    margin-top: 8px;
    color: #b8c7d9;

}



.system-panel {

    display: flex;
    align-items: center;
    gap: 15px;

}



.status,
.clock {

    background: #102c49;
    padding: 12px 20px;
    border-radius: 12px;
    text-align: center;

}



.status span {

    color: #00ff88;
    font-weight: bold;

}



.clock span {

    color: #ffd166;
    font-size: 18px;

}



button {

    padding: 12px 18px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;

}



#startBtn {

    background: #00c853;
    color: white;

}



#stopBtn {

    background: #ff9800;
    color: white;

}



#emergencyBtn {

    background: #d50000;
    color: white;

}





.dashboard {

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 25px;

}



.card {

    background: #102c49;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 0 15px #0008;

}



.card h3 {

    color: #ffd166;

}



.card h1 {

    font-size: 38px;
    margin: 10px 0;
    color: #00e5ff;

}



.card p {

    color: #cbd5e1;

}

.line-section {

    padding: 25px;

}



.line-section h2 {

    color: #00e5ff;
    margin-bottom: 20px;

}



.station-bar {

    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;

}



.station {

    background: #17395c;
    padding: 15px 30px;
    border-radius: 10px;
    font-weight: bold;

}



.track-area {

    background: #0c2238;
    padding: 20px;
    border-radius: 15px;
    overflow: hidden;

}



.train-track {

    height: 80px;
    position: relative;
    background: #071522;
    border-radius: 10px;
    margin-bottom: 30px;

}



.train-track::before {

    content: "";

    position: absolute;

    top: 38px;

    left: 0;

    width: 100%;

    height: 5px;

    background: #cfd8dc;

}



.train {

    position: absolute;

    top: 18px;

    width: 70px;

    height: 35px;

    background: #00a8ff;

    border-radius: 8px;

    display: flex;

    align-items: center;

    justify-content: center;

    font-size: 12px;

    font-weight: bold;

    z-index: 5;

    transition: none;

}



.up-train {

    background: #00c853;

}



.down-train {

    background: #ff9800;

}



.second {

    top: 45px;

}



.blocks {

    display: grid;

    grid-template-columns: repeat(5, 1fr);

    gap: 15px;

}



.block {

    background: #102c49;

    padding: 15px;

    border-radius: 12px;

    text-align: center;

    min-height: 260px;

}



.platform {

    border: 2px solid #ff9800;

}



.block h3 {

    color: #00e5ff;

    font-size: 15px;

}



.block h4 {

    margin: 10px 0;

    color: #ffd166;

}



.block p {

    color: #00ff88;

}



.signal {

    width: 25px;

    height: 25px;

    border-radius: 50%;

    margin: auto;

}



.signal.green {

    background: #00ff55;

    box-shadow: 0 0 15px #00ff55;

}



.signal.yellow {

    background: #ffd000;

    box-shadow: 0 0 15px #ffd000;

}



.signal.red {

    background: #ff0000;

    box-shadow: 0 0 15px #ff0000;

}



.signal-info {

    background: #071522;

    padding: 10px;

    margin-top: 15px;

    border-radius: 8px;

    font-size: 12px;

}



.signal-info span {

    color: #b8c7d9;

}



.signal-info b {

    color: #00ff88;

}

.monitor-section {

    display: grid;

    grid-template-columns: 2fr 1fr;

    gap: 20px;

    padding: 25px;

}



.train-monitor,
.block-monitor {

    background: #0c2238;

    padding: 20px;

    border-radius: 15px;

}



.monitor-section h2,
.event-section h2,
.system-section h2,
.signal-summary h2 {

    color: #00e5ff;

    margin-bottom: 20px;

}



table {

    width: 100%;

    border-collapse: collapse;

}



th {

    background: #17395c;

    padding: 12px;

    color: #ffd166;

}



td {

    padding: 12px;

    text-align: center;

    border-bottom: 1px solid #294866;

}



tr:hover {

    background: #17395c;

}



.block-monitor p {

    background: #071522;

    padding: 12px;

    margin-bottom: 10px;

    border-radius: 8px;

}



.block-monitor span {

    color: #00ff88;

    font-weight: bold;

}





.event-section {

    display: grid;

    grid-template-columns: 2fr 1fr;

    gap: 20px;

    padding: 25px;

}



.event-panel,
.alarm-panel {

    background: #0c2238;

    padding: 20px;

    border-radius: 15px;

}



#eventLog {

    height: 250px;

    overflow-y: auto;

    background: #071522;

    padding: 15px;

    border-radius: 10px;

}



#eventLog p {

    padding: 8px;

    color: #b8c7d9;

    border-bottom: 1px solid #294866;

}





#alarmBox {

    background: #071522;

    padding: 25px;

    border-radius: 10px;

    color: #00ff88;

    font-weight: bold;

    text-align: center;

}

.system-section {

    padding: 25px;

}



.health-grid {

    display: grid;

    grid-template-columns: repeat(4, 1fr);

    gap: 20px;

}



.health-card {

    background: #0c2238;

    padding: 20px;

    border-radius: 15px;

    text-align: center;

}



.health-card h3 {

    color: #ffd166;

    margin-bottom: 15px;

}



.health-card p {

    font-size: 20px;

    font-weight: bold;

    color: #00ff88;

}





.signal-summary {

    padding: 25px;

}



.signal-grid {

    display: grid;

    grid-template-columns: 1fr 1fr;

    gap: 20px;

}



.signal-card {

    background: #0c2238;

    padding: 20px;

    border-radius: 15px;

}



.signal-card h3 {

    color: #ffd166;

    margin-bottom: 15px;

}



.signal-card p {

    background: #071522;

    padding: 10px;

    border-radius: 8px;

    margin-bottom: 8px;

}



.signal-card span {

    font-weight: bold;

    color: #00ff88;

}





footer {

    background: #0c2238;

    padding: 25px;

    display: flex;

    justify-content: space-between;

    align-items: center;

    border-top: 2px solid #00c8ff;

    margin-top: 30px;

}



footer h3 {

    color: #00e5ff;

}



footer p {

    color: #b8c7d9;

    margin-top: 5px;

}





@media(max-width:1200px) {


    .blocks {

        grid-template-columns: repeat(3, 1fr);

    }


    .dashboard {

        grid-template-columns: repeat(2, 1fr);

    }


    .health-grid {

        grid-template-columns: repeat(2, 1fr);

    }


}



@media(max-width:800px) {


    .occ-header {

        flex-direction: column;

        gap: 20px;

    }


    .system-panel {

        flex-wrap: wrap;

        justify-content: center;

    }


    .blocks {

        grid-template-columns: 1fr;

    }


    .monitor-section,
    .event-section {

        grid-template-columns: 1fr;

    }


    .signal-grid {

        grid-template-columns: 1fr;

    }


    footer {

        flex-direction: column;

        gap: 15px;

        text-align: center;

    }


}

.train {

    left: 0%;

}



#U1 {

    left: 5%;

}



#U2 {

    left: 35%;

}



#D1 {

    left: 90%;

}



#D2 {

    left: 60%;

}



#US1Aspect,
#US2Aspect,
#US3Aspect,
#US4Aspect,
#DS1Aspect,
#DS2Aspect,
#DS3Aspect,
#DS4Aspect {

    color: #00ff55;

}



#US5Aspect,
#DS5Aspect {

    color: #ff3333;

}



#US1Reason,
#US2Reason,
#US3Reason,
#US4Reason,
#US5Reason,
#DS1Reason,
#DS2Reason,
#DS3Reason,
#DS4Reason,
#DS5Reason {

    color: #b8c7d9;

    font-size: 12px;

}



#alarmBox.active {

    color: #ff3333;

    background: #330000;

}



.occupied {

    color: #ff3333 !important;

}



.free {

    color: #00ff88 !important;

}



.yellow-text {

    color: #ffd000 !important;

}



.red-text {

    color: #ff3333 !important;

}



.green-text {

    color: #00ff55 !important;

}



::-webkit-scrollbar {

    width: 8px;

}



::-webkit-scrollbar-track {

    background: #071522;

}



::-webkit-scrollbar-thumb {

    background: #00c8ff;

    border-radius: 10px;

}

#resetBtn {
    background: #1565c0;
    color: white;
}